<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%= titleDoc %></title>
  <link rel="stylesheet" href="/css/shop.css" />
  <link rel="stylesheet" href="/css/add-product.css" />
  <link rel="stylesheet" href="/css/global.css" />
</head>
