<header class="main-header">
  <nav class="main-header__nav">
    <ul class="main-header__item-list">

      <li class="main-header__item"><a class="<% if (path === "/") { %> active <% } %>" href="/">Shop</a></li>

      <li class="main-header__item"><a class="<% if (path === "/products") { %> active <% } %>" href="/products">Products</a></li>

      <li class="main-header__item"><a class="<% if (path === "/cart") { %> active <% } %>" href="/cart">Cart</a></li>

      <li class="main-header__item">
        <a
          class="<% if (path === "/add-product") { %> active <% } %>"
          href="/add-product"
          >Add Product</a
        >
      </li>

      <li class="main-header__item">
        <a
          class="<% if (path === "/admin-product") { %> active <% } %>"
          href="/admin-product"
          >Admin products</a
        >
      </li>
    </ul>
  </nav>
</header>
   