<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head') %>

  <body>
    <%- include('includes/navigator')%>

    <main>
      <h1>My Products</h1>
      <p>List of all the products...</p>

      <% if (prods.length > 0) { %> <% for (let product of prods ) { %>

      <div class="card container-card">
        <h1 class="title-card"><%= product.title %></h1>
        <img
          src="https://i.pinimg.com/736x/5f/82/fa/5f82faacd6b544ad86d2fc3fe9e8c431.jpg"
          alt="https://i.pinimg.com/736x/5f/82/fa/5f82faacd6b544ad86d2fc3fe9e8c431.jpg"
          class="img-fluid"
        />
        <p class="description-card">Đây là cái card</p>
        <button class="btn-card">Mua ngay</button>
      </div>

      <% } %> <% } else { %>

      <h1>Không có sản phẩm nào</h1>

      <% } %>
    </main>
  </body>
</html>
