button {
  font: inherit;
  background: white;
  border-radius: 3px;
  cursor: pointer;
}

button:hover,
button:active {
  color: white;
}

textarea {
  width: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background: #000;
  font-size: 16px;
  font-weight: normal;
  outline: none;
  border: none;
}

.btn.btn-delete {
  background: #f75e5e;
}

.btn.btn-edit {
  background: #feda6a;
  color: #000;
}
